nav{
    padding: 20px;
    background-color: rgb(229, 229, 236);
    margin: auto;
}
.search {
    display: inline-flex;
    float: right;
}
.borderlessButton {
    border: 0;
    border-radius: 20pxs;
    background-color: rgb(229, 229, 236);
}
#landingPageDiv{
    background-color: rgb(196, 196, 231);
    padding: 20px;
    text-align: center;
}

#buttonContainer {
    text-align: center;
    visibility: hidden;
}
.form-floating{
    display: inline-flex;
    visibility: hidden;
}

#floatingSelectPageSize{
    float: left;
    position: relative;
    padding-left: auto;
    margin-left: 28vw;
}
#floatingSelectSort{
    float: right;
    position: relative;
    padding: auto ;
    margin-left: 12vw;
    width: 110px;
}
#resultPage{
    visibility: hidden;
}

.card {
    display: inline-grid;
    position: relative;
    padding: 15px;
}
.card-text {
    text-size-adjust: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    height: 90px;
}
#singleBeerImage {
    max-height: 500px;
    padding-left: 5vw;
}
.singleCard-body{
    border-style: double;
    border: 1px solid rgba(175, 174, 174, 0.658);
    margin-left: 4rem;
    padding: 15px;
}
#paginationTag{
    display: inline-flex;
    position: absolute;
}
#spinLoading {
    margin-left: 12vw;
}