h3 {
    color: #82ed9f;
}

.colorName {
    background-color: deeppink;
}

.hex-code{
    background-color: #82ed9f;
    color: #151a7a;
}

.rgb-code {
    background-color: rgba(1, 119, 133, 0.5);
    color: rgb(51, 202, 202);
}

.hsl-code {
    background-color: hsla(125, 99%, 26%, 0.7);
}

#text {
    background-color: pink;
}

