

#divContainer{
    margin:auto;
    text-align: center;
}

#nextButton{
    display: inline;
    width: 100px;


}
#previousButton{
    display: inline;
    width: 100px;
}
#buttonContainer {
    text-align: center ;
}

#spinLoading {   
    
    visibility: hidden;


}

#resultContainer {
    text-align: center;
}

th{
    border: 2px solid black;
}